*{
    margin: 0;
    padding: 0;
}

.container__i{
    display:grid;
    grid-template-columns: 100%;

}

#navbar{
    border-bottom: 10px;
    position: static;
}

#slider{
    border-top: 10px;
}

#footer{
    background-color: #39a2e8;
    display: flex;
    flex-direction: row;
}

.card{
    position: static;
    display: flex;
    flex-direction: column;
    border-bottom: 30px;
    margin: auto;
    /* align-items: center; */
}

.mapeo{
    position: static;
    display: flex;
    border-bottom: 30px;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

@media only screen and (min-width: 769px) {
    .container__i{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 480px auto;
        grid-template-areas: 
        "n n"
        "s p"
        "f f"
        ;
    
    }

    #destacados{
        display: absolute;
        top: 50px;
        right: 30px;
    }

    .productos{
        grid-area: p;
        display: flex;
        align-items: center;
        text-align: center;
        margin: auto;
        padding-bottom: 25px;
        justify-content: space-around;
        flex-direction: row;
    }
    .navbar{
        grid-area: n;
    }

    .footer{
        grid-area: f;
    }

    #slider{
        grid-area: s;
        display: block;
        
    }

    .container__c{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 600px auto;
        grid-template-areas: 
        "n n"
        "t m"
        "f f"
        ;
    
    }    

    .tuvieja{
        grid-area: t;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .mapeo{ 
        grid-area: m;
    }
}